<!DOCTYPE html>
<html>
<head>
    <title>Respostas</title>
</head>

<body>

<h1>Respostas enviadas</h1>

<% dados.forEach(function(item){ %>

<div>

<p><strong>Nome:</strong> <%= item.nome %></p>
<p><strong>Email:</strong> <%= item.email %></p>
<p><strong>Mensagem:</strong> <%= item.mensagem %></p>

<hr>

</div>

<% }) %>

</body>
</html>
